<h1>Editing Book</h1>

<div class="error-box">
  <% if @book.errors.any? %>
    <div class="error-title"><%= @book.errors.count %> error prohibited this book from being saved:</div>
    <ul class="error-message">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
  <div class="form-box">
    <%= f.label :title, "Title" %>
    <div><%= f.text_field :title %></div>
  </div>
  
  <div class="form-box">
    <%= f.label :body, "Body" %>
    <div><%= f.text_area :body %></div>
  </div>
  
  <div><%= f.submit 'Update Book' %></div>
    
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<span>|</span>
<%= link_to "Back", "/books" %>